<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calc.isima.fr.tp1_modele_calculatrice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">



    </application>

</manifest>
