<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="calc.isima.fr.tp1_modele_calculatrice">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name=".CalcActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
